<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makersbnb | Add a Listing</title>
    <link rel="stylesheet" href="../static/final_style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/home">
            <img src="../static/images/makersbnb_white.svg" alt="Logo"> <!-- Logo Placeholder -->
        </a>
        </div>
        <div class="nav-links">
            <a href="/home">Properties</a>
            <a href="/add_listing">Create listing</a>
            <a href="/sign_up">Sign up</a>
            <a href="/login">Log in</a>
            <a href="#">My account</a>
        </div>
    </div>

    <div class="container-stacked">
        {% if errors %}
        <div class = "t-class">
            * {{errors}}
        </div>
        {% endif %}
        {% if errors %}
        <div class="errors-class">
            * {{ errors }}
        </div>
        {% endif %}
    
        <!-- Form Container -->
    
            <h2>Create a New Listing</h2>
    
            <form action="/listings/new" method="POST">
                <!-- Listing Details Section -->
                <div class="field">

                    <p style="text-align: left;" class="instructions">Enter a name that describes your listing, e.g., 'Rose Cottage'</p>
                    <input type="text" name="name" id="name" placeholder="Listing Name">
                </div>
                <br>
                <br>
                <div class="field">
                    <p style="text-align: left;" class="instructions">Describe the features and atmosphere of your listing, e.g., 'A cozy cottage with a beautiful garden view.'</p>
                    <input type="text" name="description" id="description" placeholder="Description" style="height: 80px;">
                </div>
                <br>
                <br>
                <!-- Pricing Information Section -->
                <div class="field">
                    <p style="text-align: left;" class="instructions">Specify the nightly rate for renting this listing.</p>
                    <input type="text" name="price" id="price" placeholder="£ Price per Night">
                </div>
                <br>
                <p>
                    <p style="text-align: left;" class="instructions">Please enter your user ID</p>
                    <input type="text" name="user_id" id="user_id" placeholder="e.g. 1">
                </p>
                <!-- Submit Button -->
                <div class="field btn">
                    <input type="submit" value="Add my listing" class="submit-button">
                </div>
            </form>
</body>
</html>
