<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Makersbnb | Home </title>
        <link rel="stylesheet" href="../static/final_style.css">
    </head>
    <body class="body2">
        <div class="navbar">
            <div class="logo">
                <a href="/home">
                <img src="../static/images/makersbnb_white.svg" alt="Logo"> <!-- Logo Placeholder -->
            </a>
            </div>
            <div class="nav-links">
                <a href="/home">Properties</a>
                <a href="/add_listing">Create listing</a>
                <a href="/sign_up">Sign up</a>
                <a href="/login">Log in</a>
                <a href="#">My account</a>
            </div>
        </div>
        <div class="hero-container">
            <img src="../static/images/unsplash.jpg" class="hero-image" alt="Hero Image">
            <div class="hero-text">
                <img src="../static/images/makersbnb_white.svg" style="width: 75%">
                <br>
                <br>
                <p style="font-size: 2.5em; color: white"></style>Discover your next getaway </p>
                <p style="font-size: 1.5em; color: white; font-weight: 50;">Unforgettable stays, just a click away</p>
            </div>
        </div>
        <br>
        <br>
    {% for listing in listings %}
        <div class="container-adjacent" style="padding-bottom: 24px;">
            <div class="column left">
                <img class="property-image" src="../static/images/pushpinder-pal-singh-I697rufpaZo-unsplash.jpg">
            </div>
            <div class="container-stacked2">
        <h4> {{listing.name}}</h4>
                <p class="listinginfo2" style="text-align: left;"> {{listing.description}}</p>
        <a class="property-button" href="/request_booking/{{listing.id}}">More details +</a>
        </div>
        </div>
        </div>

    {% endfor %}


    </body>

</html>