<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakersBnB - Welcome</title>
  <link rel="stylesheet" href="../static/final_style.css">
</head>



<body>
  <div class="navbar">
    <div class="logo">
        <a href="/home">
        <img src="../static/images/makersbnb_white.svg" alt="Logo"> <!-- Logo Placeholder -->
    </a>
    </div>
    <div class="nav-links">
        <a href="/home">Properties</a>
        <a href="/add_listing">Create listing</a>
        <a href="/sign_up">Sign up</a>
        <a href="/login">Log in</a>
        <a href="#">My account</a>
    </div>
</div>
<div class="hero-container">
  <img  src="../static/images/unsplash.jpg" class="hero-image" alt="Hero Image">
  <div class="hero-text">
      <img src="../static/images/makersbnb_white.svg" style="width: 75%">
      <br>
      <br>
      <p style="font-size: 2.5em; color: white"></style>Welcome to makersbnb </p>
      <a href="/sign_up" class="button" style="color: white; font-weight: 50;">Sign up</a>
      <a href="/login" class="button" style="color: white; font-weight: 50;">Log in</a>
  </div>
</div>
</body>
</html>
