<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
  <title>Login - MakersBnB</title>
  <link rel="stylesheet" href="../static/final_style.css">
</head>
<body>
  <!-- Navigation Bar -->
  <header>
    <div class="navbar">
      <div class="logo">
          <a href="/home">
          <img src="../static/images/makersbnb_white.svg" alt="Logo"> <!-- Logo Placeholder -->
      </a>
      </div>
      <div class="nav-links">
          <a href="/home">Properties</a>
          <a href="/add_listing">Create listing</a>
          <a href="/sign_up">Sign up</a>
          <a href="/login">Log in</a>
          <a href="#">My account</a>
      </div>
  </div>
  </header>

  <!-- Login Form -->
  <div class="container-stacked">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="field">
        <input type="text" placeholder="Email Address" name="email" required>
      </div>
      <div class="field">
        <input type="password" placeholder="Password" name="password" required>
      </div>
      <div class="field btn">
        <input class="submit-button" type="submit" value="Login">
      </div>
    </form>
  </div>
</body>
</html>
