<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Booking</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/landing" class="logo">
            <img src="../static/images/makersbnb.svg" alt="MakersBnB Logo">
          </a>
          <ul class="nav-links">

          </ul>
        </nav>
      </header>
    <div class="form-container">
        <h2>Request a booking</h2>
        
        <div class="field">
            <p><strong>Listing name:</strong> {{ name }}</p><br>
            <p><strong>Description:</strong> {{ description }}</p><br>
            <p><strong>Price per night:</strong> £{{ price }}</p>
        {% if errors %}
            <div class="error-message">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        </div>
        
        <form action="/request_booking/{{ id }}" method="POST">
            <div class="field">
                <label for="start_date">Start Date</label>
                <input type="date" id="start_date" name="start_date" required>
            </div>
            <div class="field">
                <label for="end_date">End Date</label>
                <input type="date" id="end_date" name="end_date" required>
            </div>
            <div class="field">
                <input id="user_id" type="number" placeholder="User ID" required>
            </div>
            <div class="field btn">
                <input type="submit" value="Request Booking">
            </div>
        </form>
        
    </div>

</body>
</html>
<!--     
            <li><a href="/login">Login</a></li>
            <li><a href="/sign_up">Signup</a></li>  -->