<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Booking</title>
    <link rel="stylesheet" href="../static/final_style.css">

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/home">
            <img src="../static/images/makersbnb_white.svg" alt="Logo"> <!-- Logo Placeholder -->
        </a>
        </div>
        <div class="nav-links">
            <a href="/home">Properties</a>
            <a href="/sign_up">Sign up</a>
            <a href="/login">Log in</a>
            <a href="#">My account</a>
        </div>
    </div>
<div class="container-adjacent">
    <div class="column left2">
        <img class="container-image" src="../static/images/pushpinder-pal-singh-I697rufpaZo-unsplash.jpg">
    <div class="listing-info">
        <h4>{{ name }}</h4>
        <p>{{ description }}</p>
    </div>
    <hr>
    <div class="property">
        <div class="image-placeholder"></div>
            <p class="description">What this place offers</p>
        <div class="amenities">
            <div class="amenity">
        <img class="icon" src="../static/images/icon_hot_tub.svg" alt="hottub">
        <p>Hot tub</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_outdoor area.svg" alt="hottub">
        <p>Outdoors</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_iron.svg" alt="hottub">
        <p>Iron</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_washer.svg" alt="hottub">
        <p>Washer</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_hairdryer.svg" alt="hottub">
        <p>Hair dryer</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_cooker.svg" alt="hottub">
        <p>Cooker</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_wifi.svg" alt="hottub">
        <p>WiFi</p>
            </div>
            <div class="amenity">
                <img class="icon" src="../static/images/icon_tv.svg" alt="hottub">
        <p>TV</p>
            </div>
        </div>
        </div>
    </div>
    <div class="column right2">
        <h1 style="color: #00D0A2; font-family: futura;"> £{{ price }}</h1>
        <p>Price per night</strong>
            <br>
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    <form action="/request_booking/{{ id }}" method="POST">
        <div class="input-group" style="font-family: futura;">
            <label for="start_date">Start Date</label>
            <input style="font-family: futura;" type="date" id="start_date" name="start_date" required>
        </div>
        <div class="input-group" style="font-family: futura;">
            <label for="end_date">End Date</label>
            <input style="font-family: futura;" type="date" id="end_date" name="end_date" required>
        </div>
        <button type="submit" class="button" style="font-family: futura;">Request booking</button>
    </form>
    </div>
</div>

</body>
</html>
<!--     
            <li><a href="/login">Login</a></li>
            <li><a href="/sign_up">Signup</a></li>  -->