<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup - MakersBnB</title>
  <link rel="stylesheet" href="../static/final_style.css">
</head>
<body>
  <!-- Navigation Bar -->
  <div class="navbar">
    <div class="logo">
        <a href="/home">
        <img src="../static/images/makersbnb_white.svg" alt="Logo"> <!-- Logo Placeholder -->
    </a>
    </div>
    <div class="nav-links">
        <a href="/home">Properties</a>
        <a href="/add_listing">Create listing</a>
        <a href="/sign_up">Sign up</a>
        <a href="/login">Log in</a>
        <a href="#">My account</a>
    </div>
</div>

        

<!-- Signup Form -->
<div class="container-stacked">

  <h2>Create an Account</h2>
  <form action="/sign_up" method="POST">
    <p>
        <input type="text" name="username" id="username" placeholder="Username">
    </p>

    <p>
        <input type="text" name="email" id="email" placeholder="Email Address">
    </p>

    <p>
        <input type="password" name="password" id="password" placeholder="Password: must be at least 7 characters long and contain a special character">
    </p>

    {% if errors %}
    <div class = "errors-class" style="color:red">
        {{errors}}
    </div>
    {% endif %}

    <!-- Submit Button -->
    <p>
        <input type="submit" value="Create account" class="submit-button">
    </p>
    <br>
</form>
    
  </div>
</body>
</html>
