<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup - MakersBnB</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <!-- Navigation Bar -->
  <header>
    <nav class="navbar">
        <!-- <a href="{{ url_for('index') }}" class="logo"> -->
        <a href="/landing" class="logo">
        <img src="../static/images/makersbnb.svg" alt="MakersBnB Logo">
      </a>
      <ul class="nav-links">
        <li><a href="/login">Login</a></li>
        <li><a href="/sign_up">Signup</a></li> 
      </ul>
    </nav>
  </header>

        {% if errors %}
        <div class = "errors-class">
            {{errors}}
        </div>
        {% endif %}

<!-- Signup Form -->
<div class="form-container">
    <h2>Signup</h2>
    <form action="/sign_up" method="POST">
      <div class="field">
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
      <div class="field">
        <input type="text" name="email" id="email" placeholder="Email Address">
      </div>
      <div class="field">
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="field btn">
        <input type="submit" value="Create account" class="submit-button">
        <!-- <div class="field btn">
            <input type="submit" value="Signup"> -->
      </div>
      <a href="/home" class="paragraph">Back to listings</a>
    </form>
    
  </div>
</body>
</html>
